.element__like {
    width: 20.76px;
    height: 18.13px;
    margin: auto 1.13px auto auto;
    cursor: pointer;
    border: none;
    background-image: url('../../../images/like.svg');
    background-repeat: no-repeat;
    outline: none;
    background-color: unset;
}

.element__like:hover {
    opacity: 0.5;
}