.profile__profession {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 16px;
    max-width: 336px;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 676px) {
    .profile__profession {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 14px;
      }
  }