.form__name_place_addcards {
    margin: 30px 35px 36px 20px;
    width: 76.25%;
}

@media screen and (min-width: 768px) {
    .form__name_place_addcards {
        margin: 34px 64px 54px 36px;
        width: 76.745%;
    }
}