.profile__name {
    margin: 0;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    max-width: 336px;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 676px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
      }
  }