.profile__info {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 83.333% 13%;
    column-gap: 10px;
    row-gap: 14px;
    width: 282px;
}

@media screen and (min-width: 768px) {
    .profile__info {
        width: 226px;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .profile__info {
        width: 336px;
        grid-template-columns: 87.333% 7%;
        row-gap: 16px;
        column-gap: 18px;
    }
}